<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>User Catalogue</h1>
<hr>
<table border="1">
	<tr>
		<td>User Id</td>
		<td>Movie Name</td>
		<td>Rating</td>
	</tr>
	<tr th:each="rating : ${catalogue}">
		<td th:text="${rating.userId }"></td>
		<td th:text="${rating.movieName }"></td>
		<td th:text="${rating.rate}"></td>
	</tr>
</table>
<a href="./">Go To Main Page</a>
</body>
</html>